---
---
@charset "utf-8";

// Our variables
$base-font-family: 'Crimson Text', serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.58;

$heading-font-family: 'Alegreya Sans', sans-serif;

$spacing-unit:     30px;

$text-color:       #333;
$background-color: #fdfdfd;
$brand-color:      #c60;
$alt-color:        #c7254e;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$site-title-background: #333;
$site-title-text: #fff;

// Width of the content area
$content-width:    700px;
$content-width:    34rem;

// Import partials from `sass_dir` (defaults to `_sass`)
@import 'base';
@import 'footer';
@import 'content';
@import 'syntax-highlighting';
@import 'page-title';
