<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='description' content='{{ site.description }}'>
    <meta name='viewport' content='width=device-width initial-scale=1' />
    <title>{% if page.title %}{{ page.title }} | {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
    
    <link rel='alternate' type='application/atom+xml' title='{{ site.name }} — Feed' href='{{ site.url }}/feed.xml' />
    <link rel='canonical' href='{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}'>
    <link rel='stylesheet' href='{{ '/css/main.css' | prepend: site.baseurl }}'>

    <script src='//use.typekit.net/rrp0mpr.js'></script>
    <script>try{Typekit.load();}catch(e){}</script>
</head>
