---
layout: default
---
<article class='page post'>

  <header class='page-title{% if page.background %} page-title--{{ page.background }}{% endif %}'>
    <div class='page-title__container'>

      <a class='page-title__branding-link' href='{{ site.baseurl }}/' title='{{ site.title }}'>
        Karl Bowden
      </a>

      <h1 class='post__title'>
        {{ page.title }}
      </h1>

      <p class='post__tags'>
        {% for tag in page.tags %}
          <span class='post__tag'>{{ tag }}</span>
        {% endfor %}
      </p>

    </div>
  </header>

  <div class='content'>
    {{ content }}
  </div>

</article>
