---
layout: default
---
<article class='post'
  itemscope
  itemtype='http://schema.org/BlogPosting'>

  <header class='page-title{% if page.background %} page-title--{{ page.background }}{% endif %}'>
    <div class='page-title__container'>

      <a class='page-title__branding-link' href='{{ site.baseurl }}/' title='{{ site.title }}'>
        Karl Bowden
      </a>

      <h1 class='post__title' itemprop='name headline'>
        {{ page.title }}
      </h1>

      <p class='post__meta'>
        <time datetime='{{ page.date | date_to_xmlschema }}'
          itemprop='datePublished'>
          {{ page.date | date: '%b %-d, %Y' }}
        </time>
      </p>

      <p class='post__tags'>
        {% for tag in page.tags %}
          <span class='post__tag'>{{ tag }}</span>
        {% endfor %}
      </p>

      <blockquote>{{ page.excerpt }}</blockquote>

    </div>
  </header>

  <div class='content'
    itemprop='articleBody'>
    {{ content }}
  </div>

</article>
