---
layout: default
comments: true
sharing:  false
---
<div class="post">
    <header class="post-header">
        <h1 class="post-title">{{ page.title }}</h1>
        <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
    </header>
    <article class="post-content">
        {{ content }}
    </article>
    <p class='post-item-tags'>
        {% for tag in page.tags %}
        <a href='{{ tag | tag_url }}' class='post-item-tag'>#{{ tag }}</a>
        {% endfor %}
    </p>
    {% if page.comments %}{% include comments.html %}{% endif %}
</div>
